body{
    background: url(../img/main_bg.png) no-repeat;
    background-size:cover;
}
.main{
    position: absolute;
    width: 96%;
    height:80%;
    left:2%;
    top:13%;
}
.main-box{
    position: absolute;
    width:100%;
    height:82%;
    top:6%;
    background-color: rgba(53, 45, 45, 0.021);
}
#introduction{
    width:50%;
    height:100%;
    float:left;
}
#blackboard{
    width:100%;
    background-size:cover;
}
#pic{
    width:45%;
    height:100%;
    float:right;
    position: relative;
    margin-top:10px;
}
#wrap{
    width:100%;
    height:80%;
    position: relative;
    z-index:0;
}
#list{
    width:100%;
    height:100%;
    list-style: none;
    position: relative;
    overflow: hidden;
}
.item{
    width:100%;
    height:100%;
    display:none;
}
.item img{
    width: 100%;
    height: 100%;
    border-radius: 34px;
}
#slide{
    position: absolute;
    width:81px;
    height:3px;
    bottom:5px;
    left:50%;
    margin-left:-40.5px;
    z-index: 9;
    list-style: none;
}
.slide{
    width:20px;
    height:3px;
    float: left;
    background-color: rgb(131, 120, 120);
    margin:0 1px;
    border-radius: 10px;
    cursor: pointer;
}
.slide.active{
    width:28px;
    background-color: rgb(245, 240, 240);
}
#pic button{
    width: 35%;
	height: 40px;
	border-radius: 20px;
	font-size: 14px;
	line-height: 40px;
    text-align: center;
    margin-top:50px;
    border:none;
    outline: none;
    background-color: rgba(24, 144, 255, 1);
    box-shadow: rgba(217, 217, 217, 1) solid 1px;
    color:white;
}
#pic button a{
    text-decoration: none;
	color: rgba(0, 0, 0, 1);
}
#view-btn{
    left:10%;
    cursor: pointer;
    margin-left:10%;
}
#game-btn{
    right:10%;
    cursor: pointer;
    margin-left:10%;
}