html{
    height:100%;
}
body{
    width:100%;
    min-height:100%;
    position: relative;
    margin:0 auto;
    background: url(../img/login_bg.png) no-repeat;
    background-size:cover;

}
.main{
    width:100%;
    margin:0 auto;
}
#box_1{
    width: 100%;
	height: 67px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(166, 166, 166, 0.3);
	font-size: 14px;
	text-align: center;
}
#box_2{
    width: 250px;
	height: 67px;
}
#box_2 img{
    width:80%;
    margin-top:5px;
}
#login{
    width: 1200px;
	height: 352px;
	background-color: rgba(255, 255, 255, 0.2214285714285714);
    border-radius: 20px;
    padding-left: 0;
    margin:113px auto;
}
#login_pg {
    width: 1200px;
    height: 352px;
    padding-left: 0;
    margin:0;
    list-style: none;
    float: left;
}
#player {
    width: 626px;
    height: 285px;
    margin-left:32px;
    margin-top:35px;
    float: left;
}
#user{
    width: 435px;
    height: 285px;
    margin-left:100px;
    margin-top:25px;
    float: left;
}
#word{
    width: 408px;
	color: rgba(27, 27, 27, 1);
	text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
	font-size: 35px;
	text-align: center;
    font-weight: bold;  
}
#login_user{
    width: 435px;
    height: 141px;
    margin-top:7px;
    list-style: none;
    padding-left: 0;
    position: relative;
}

#login_user li {
    float:left;
    padding-left: 0;
}
#login_user li input{
    width: 408px;
	height: 46px;
	text-indent: 39px;
	color: rgba(166, 166, 166, 1);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 23px;
	font-size: 18px;
	border: rgba(229, 229, 229, 1) solid 1px;
    text-align: left;
}
#login_user li i{
    position: absolute;
    left:14px;
}
#password{
    margin-top:24px;
}
#u_img{
    top:15px;
}
#p_img{
    top:90px;
}

#user_type{
    width:408px;
    height:25px;
    list-style: none;
    float:left;
    padding-left:19px;
}


#user_type li {
    width:148px;
    height:25px;
    display: block;
    float:left;
    cursor: pointer;
}
#user_type li input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
#login_user input{
    outline:none;
}

#user_type li input[type="radio"] + i {
    width: 14px;
	height: 14px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border: rgba(229, 229, 229, 1) solid 1px;
    display: inline-block;
    margin-right: 9px;
}

#user_type li input[type="radio"]:checked + i {
    width: 14px;
	height: 14px;
	background-color: rgba(48, 150, 233, 0.966);
    content: url(../img/Chosen.svg);
}
#btn{
    width:408px;
    height:46px;
    border:none;
    background-color: rgba(24, 144, 255, 1);
	box-shadow: rgba(217, 217, 217, 1) solid 1px;
    border-radius: 4px;
    padding:0;
    margin-top:28px;
    outline:none;
}
#btn a{
    width:408px;
    height:46px;
    text-decoration: none;
    float: left;
    text-align: center;
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(217, 217, 217, 1) solid 1px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 46px;
    text-align: center;
    margin:0;
    letter-spacing:5px;
}