*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    margin:0;
}
.nav{
    width: 100%;
    height: 67px;
    background-color: rgba(166, 166, 166, 0.3);
    font-size: 14px;
    text-align: center;
    position: fixed;
    z-index: 9;
    top:0;
}
.nav h2{
    color: rgba(255, 191, 68, 1);
    line-height: 67px;
	font-weight: bold;
}
.nav span{
    position: absolute;
    left: 30px;
    top: 0;
    display: block;
    line-height: 67px;
    height: 67px;
    padding-left: 35px;
    font-size: 23px;
    background: url("../img/back.svg") no-repeat left center;
    background-size: 19px 31px;
    color: rgba(255, 191, 68, 1);
}