.chat_bot{
    width:100%;
    height: 10%;
    background-color: rgba(153, 153, 153, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
  border-radius: 23px;
  }
  .send_input{
    width:80%;
    height:50%;
  border-radius: 23px;
    border:none;
    outline: none;
    text-indent: 5%;
    margin:1% 0 2% 3%;
  }
  .chat_bot span{
    height:50%;
    line-height: 100%;
  }
  #username{
    padding:2% 0 0 5%;
  }
  .send_btn{
    width:12%;
    height:35%;
    border:none;
    outline: none;
    background-color: rgba(24, 144, 255, 1);
  box-shadow: rgba(217, 217, 217, 1) solid 1px;
  color:white;
  border-radius: 16px;
  font-size:14px;
  }
  .message{
    padding-bottom:5%;
    color: rgba(80, 80, 80, 1);
    font-size: 14px;
    word-wrap:break-word;
  }