.nav div{
    position: absolute;
    display: block;
    width: 42px;
	height: 42px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 22px;
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    text-align: center;
    top:10px;
    right:20px;
    z-index:999;
}
.nav div img{
    margin-top:8px;
    z-index:999;
}
.Rank{
    position: absolute;
    top:52px;
    right:30px;;
	width: 800px;
	background-color: rgba(229, 229, 229, 0.27857142857142864);
	border-radius: 8px;
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
    text-align: center;
    padding:30px 50px;
    display: none;
    z-index:999;
}
.Rank-main{
	width: 800px;
    list-style: none;
}
.Rank-main li ul{
    width:800px;
    list-style: none;
    float: left;
    padding:17px 0;
}
.Rank-main li ul li{
    float: left;
}
.other{
    width:25px;
    height:25px;
    border-radius: 25px; 
	font-size: 14px;
    line-height: 25px;
    color:#E3FDF5 ;
	border: #E3FDF5   solid 2px; 
	text-align: center;
    font-weight: bold;
}
.No1,.No2{
    width:29px;
    height:29px;
	font-size: 12px;
    line-height: 40px;
	text-align: center;
    font-weight: bold;
    color:white;
    background-size:30px 33px;
}
.No1{
    background-image: url(../img/No1.png);
}
.No2{
    background-image: url(../img/No2.png);
}
.rank-name{
    width:175px;
    height:29px;
	font-size: 19px;
    line-height: 29px;
	text-align: center;
    color:#fc7e02 ;
    font-weight: bold;
}
.rank-strip{
    height:29px;
    border-radius: 12px;
    background-image: linear-gradient(120deg, #fc7e02 0%, #fac905 100%);
    display: inline-block;
}
.rank-score{
    width:45px;
    height:29px;
	font-size: 14px;
    line-height: 29px;
	text-align: center;
    color:#fc7e02 ;
	font-weight: bold;
}