.nav-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 5vh;
    z-index: 10;
}
.nav-container div{
    padding: 20px;
    background-color: #03A9F4;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin-right: 3vw;
    cursor: pointer;
}
.nav-container div span{
    padding: 3px 10px;
    border-radius: 100%;
    background: #F44336;
    margin-right: 10px;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url("../images/step04/bcg.png") no-repeat;
    background-size: 100%;
}
.pool{
    margin: 0 auto;
    width: 80vw;
    position: relative;
}
#mixed{
    width: 75vw;
    position: relative;
    top: 8vh;
}
#mud{
    position: absolute;
    bottom: 20vh;
    right: 25vw;
    width: 40vw;
}
.kick{
    display: inline-block;
    width: 2vw;
    height: 45vh;
    background: #795548;
    position: absolute;
    top: 4vh;
    left: 25vw;
    border-radius: 35px;
    transform: rotate(25deg);
}
#box{
    position: absolute;
    top: 4vh;
    width: 13vw;
    transform: rotate3d(-0.5,3.5,0.5,40deg)
}
.score {
    position: absolute;
    right: 5vw;
    top: 3vh;
    color: #FFEB3B;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: bold;
}
.score>span{
    color: red;
    margin-left: 10px;
    letter-spacing: 0;
}

/* 搅拌动画 */
@keyframes mixing {
    0% { top: 7vh;left: 25vw; }
    25% { top: -3vh;left: 35vw; }
    50% { top: 7vh;left: 45vw; }
    75% { top: 17vh;left: 35vw; }
    100% { top: 7vh;left: 25vw; }
}

/* 放入木框左右摆动 */
@keyframes boxing {
    0% { top: 4vh;left: 0;transform: rotate3d(-0.5,3.5,0.5,40deg) }
    20% { top: 35vh;left: 28vw;transform: rotate3d(0,0,0,0deg) }
    40% { top: 35vh;left: 46vw;transform: rotate3d(0,0,0,0deg) }
    60% { top: 35vh;left: 28vw;transform: rotate3d(0,0,0,0deg) }
    80% { top: 35vh;left: 46vw;transform: rotate3d(0,0,0,0deg) }
    100% { top: 35vh; left: 28vw;transform: rotate3d(0,0,0,0deg) }
}

/* 取纸 */
@keyframes getPaper {
    from { top:35vh;left: 28vw;transform: rotate3d(0) }
    to { top: 7vh;left: 78vw; transform: rotate3d(-0.5,3.5,0.5,40deg)  }
}