body{
    height:100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.item{
    width: 100%;
    height: 100%;
    display:table;
}
.word{
    width:60%;
    padding:20%;
    margin:auto;
    color:white;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
    display: none;
    font-size:25px;
}
.next{
    text-decoration: aliceblue;
    color:white;
    bottom: 5%;
    right:5%;
    position: absolute;
    display: none;
    font-size:25px;
}
#scene-1{
    width: 100%;
    background:url(../img/潮水.png) no-repeat;
    background-size:cover;
    display: none;
}
#scene-2,#scene-3{
    width: 100%;
    background:url(../img/放箭背景1.png) no-repeat;
    background-size:cover;
    display: none;
    transition: all 3s
}
.general{
    width:15%;
    position: absolute;
    bottom:0;
    left:5%;
    z-index:9;
    display: none;
}
.king{
    width:28%;
    position: absolute;
    bottom:0;
    left:70%;
    z-index:9;
    display: none;
}
.arrow{
    width:100%;
    position: absolute;
    bottom:0;
    z-index:0;
    transition: all 2s;
    display: none;
}
.talk_box{
    width:90%;
    height:25%;
    position: absolute;
    bottom:2%;
    margin-left:5%;
    border-radius: 32px;
    background-color: #c9ab69;
    opacity: 0.9;
    display: none;
    font-size:25px;
    overflow: hidden;
    font-weight: bold;
}
.talk{
    width:100%;
    height:100%;
    display: none;
    z-index:99;
}
.general-next_step,.voice-next_step{
    position: absolute;
    right:4%;
    bottom:7%;
    text-align: right;
}
.general-name{
    margin-left:18%;
    margin-top:2%;
    font-weight: bold;
}
.general-contain{
    width:60%;
    height:40%;
    margin-left:25%;
    margin-top:1%;
}
.king-name{
    margin-left:3%;
    margin-top:2%;
}
.king-contain{
    width:60%;
    height:40%;
    margin-left:7%;
    margin-top:1%;
}
.king-next_step{
    position: absolute;
    right:24%;
    bottom:7%;
    text-align: right;
}
.option-1,.option-2{
    margin-left:3%;
    margin-top:1%;
    cursor: pointer;
}
.option-1:hover,.option-2:hover{
    color:rgb(51, 137, 218);
}
.voice-over{
    width:90%;
    margin:3.5% auto;
}
#zhi{
    width:5%;
    height:auto;
    position: absolute;
    top:42%;
    left:77%;
    z-index:99;
    display: none;
    transition: all 3s;
}