body{
    background: rgba(155, 103, 51, 1);
}
.main{
    width: 100%;
    position: relative;
    opacity: 0.3;
}
.bg img{
    width: 100%;
    display: block;
}
.word{
    width:50%;
	height: 73px;
	opacity: 0.6;
	background-color: rgb(255, 255, 255);
	border-radius: 37px;
	line-height: 73px;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
    position: absolute;
    top:80px;
    left:25%;
}
.word span{
	font-size: 20px;
    font-weight: bold;
	color: rgba(255, 87, 51, 0.69);
	opacity: 1;
}
.container{
    width:100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
}


.chai{
    width:18%;
    left:70%;
    top:75%;
    transition: all 3s;
    position: absolute;
}
#ni{
    width:8%;
    left:75%;
    top:50%;
    transition: all 2s;
    position: absolute;
}

.window{
    position: fixed;
    top: 42vh;
    left: 42vw;
    width: 16vw;
    height: 16vh;
    background: white;

}
.selTitle{
    text-align: center;
    color: #be826e;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 3vh;
}
.btn{
    width: 6vw;
    height: 4vh;
    border: none;
    background: #2196F3;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
}
.score {
    position: absolute;
    right: 5vw;
    top: 3vh;
    color: #FFEB3B;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: bold;
}
.score>span{
    color: red;
    margin-left: 10px;
    letter-spacing: 0;
}
@keyframes wanAnimate{
    from { width: 8% }
    to { width: 12% }
}