body{
    width:100%;
    height:100%;
    margin:0 auto;
    overflow: hidden;
    background-color:rgb(83, 83, 83);
}
.main{
    width:100%;
    height:100%;
    display:none;
    margin-top: 0;
    position: relative;
}
.main .main_bg img{
    width: 100%;
    display: block;
}
.main_box{
    width: 70%;
    height:55%;
    position: absolute;
    z-index:0;
    top:9%;
    left:15%;
}
.monologues-item{
    width: 100%;
    height: 100%;
    display:table;
}
.monologues-word{
    width:60%;
    padding:20%;
    margin:auto;
    color:white;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
    display: none;
    font-size:25px;
}
.monologues-next{
    text-decoration: aliceblue;
    color:white;
    position: absolute;
    bottom: 3%;
    right:5%;
    display: none;
    font-size:25px;
}
h1{
    width:95%;
    color:white;
	/* color: rgba(247, 132, 1, 0.85);
	text-shadow: rgba(255, 236, 67, 0.85) 0px 3px 3px; */
	font-size: 34px;
	line-height: 46px;
	text-align: left;
    font-weight: bold;
    left:5%;
    top:4%;
    position: absolute;
}
.demo{
    width:100%;
    height:48%;
    position: absolute;
    top:24%;
}
.main_top{
    width:95%;
    position: absolute;
    top:14%;
    left:5%;
	font-size: 20px;
}
#word{
    width: 30%;
    text-align: left;
    color:white;
}
.time{
    width:21%;
    text-align: right;
    color:white;
}
.judge{
    width: 28%;
    text-align: left;
    margin-left:14%;
    color:white;
}
.judge span{
    font-size: 21px;
	text-align: left;
    font-weight: bold;
    padding-left:39px;
}
.main_top div{
    float: left;
}
.main-quiz-holder{
    width:100%;
    height:75%;
    margin:2% auto 0 auto;
    /* background:#FCFCFC;
    border:1px solid #dedede;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:20px 2px 20px 2px; */
}
.main-quiz-holder *{
    margin:0;
    padding:0;
    font-family:"Microsoft yahei",sans-serif;
}
.main-quiz-holder a{
    text-decoration:none;
    color:#6C6C6C;
}
.main-quiz-holder .slide-container{
    width:100%;
    height:100%;
    text-align: center;
}
.results-container,.intro-container{
    text-align:center;
}

.main-quiz-holder .slide-container .question,.main-quiz-holder h2.qTitle{
    font-size:28px;
    font-weight:normal;
}
.main-quiz-holder h2.qTitle{ 
    width:60%;
    padding:2% 0;
    margin:0 auto 0 auto;
    color:white;
    font-size: 28px;
}
.main-quiz-holder .question-number{
    position: absolute;
    top:115%;
    right:12%;
    padding:5px;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    border-radius:3px;
    color:white;
}
.main-quiz-holder .slide-container ul.answers{
    width:70%;
    height:60%;
    margin:0 auto;
    list-style:none;
    font-size: 30px;
}
.main-quiz-holder .slide-container ul.answers li{
    width:40%;
    height:15%;
    cursor:pointer;
    margin:3% 4.5%;
    float: left;
    color:white;
    /* -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; */
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    /* -webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    background:#f6f6f6;
    background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#d4d4d4));
    background:-webkit-linear-gradient(#f6f6f6,#d4d4d4);
    background-image:-moz-linear-gradient(top,#f6f6f6,#d4d4d4);
    background-image:-moz-gradient(top,#f6f6f6,#d4d4d4);
    border:1px solid #a1a1a1; */
}
.main-quiz-holder .slide-container ul.answers li.selected{
    /* background:#6fb2e5;
    box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -o-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -webkit-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -moz-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff; */
    color:#6fb2e5;
}
.main-quiz-holder .slide-container .next{
    width:10%;
    cursor:pointer;
    position: absolute;
    top:52%;
    right:1%;
    /* height:19px;
    cursor:pointer;
    padding:5px 10px;
    font-size:16px;
    padding:5px 15px;
    color:#4c4c4c;
    border-radius:4px;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    background:#6fb2e5;
    box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -o-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -webkit-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
    -moz-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff; */
}
/* .main-quiz-holder .slide-container .next{
    background:#77d125;
    box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;
    -o-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;
    -webkit-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;
    -moz-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;
} */

.main-quiz-holder .progress-keeper{
    width:30%;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:2px;
    border:1px solid #dedede;
    position: absolute;
    top:120%;
    left:34%;
}
.main-quiz-holder .progress{
    width:0;
    height:10px;
    color:#4c4c4c;
    background:#f6f6f6;
    background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#d4d4d4));
    background:-webkit-linear-gradient(#5dc6e0,#b1dff1);
    background-image:-moz-linear-gradient(top,#f6f6f6,#d4d4d4);
    background-image:-moz-gradient(top,#f6f6f6,#d4d4d4);
}
.main-quiz-holder .result-keeper{
    margin:10px 10%;
    text-align:center;
}
.main-quiz-holder .notice{
    color:rgb(138, 202, 221);
    position:absolute;
    top:28%;
    left:42%;
    font-size:24px;
}


.main-quiz-holder .slide-container .final{
    width:10%;
    cursor:pointer;
    position: absolute;
    top:52%;
    right:1%;
}
.main-quiz-holder .nav-show-result{
    width:70px;
}
.main-quiz-holder .slide-container .next,.main-quiz-holder .slide-container .final{
    width:70px;
    float:right;
    margin-right:10%;
}
.main-quiz-holder .slide-container .next img,.main-quiz-holder .nav-show-result img{
    width:100%;
    float:right;
}
.main-quiz-holder .nav-next{
    bottom:15%;
}
.main-quiz-holder .nav-start{
    display:block;
    margin:9% auto; 
    font-size:20px; 
    font-weight:bold;
    color:white;
}
.main-quiz-holder .nav-container{
    padding:5px;
    margin:15px 0;
}
.main-quiz-holder .result-row{
    width:80px;
    margin:10px 20px;
    float:left;
    position: relative;
}
.main-quiz-holder .result-list{
    margin: 3% auto;
    list-style: none;
    margin-left:26%;
}
.main-quiz-holder .result-row .resultsview-qhover{
    background:#FCFCFC;
    border:1px solid #dedede;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:2px 10px 2px 10px;
    position:absolute;
    width:250px;
    top:50px;
    left:-80px;
    z-index:200;
    padding:15px 30px;
    text-align:left;
    font-size:22px;
}
.main-quiz-holder .resultsview-qhover ul{
    list-style:none;
    margin:10px 0;
}
.main-quiz-holder .resultsview-qhover li{
    padding:0 28px;
    margin:5px 0;
    min-height:20px;
    font-size:14px;
    background: #FCFCFC;
    border:1px solid #F6F6F6;
    border-radius:3px;
}
.main-quiz-holder .correct,.main-quiz-holder .wrong{ 
    height:19px;
    cursor:pointer;
    padding:5px 10px;
    font-size:14px;
    padding:5px 15px;
    color:#4c4c4c;
    border-radius:4px;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
}
.main-quiz-holder .correct{
    background:#c3e462;
    background:-webkit-gradient(linear,left top,left bottom,from(#c3e462),to(#90b61e));
    background:-webkit-linear-gradient(#c3e462,#90b61e);
    background-image:-moz-linear-gradient(top,#c3e462,#90b61e);
    background-image:-moz-gradient(top,#c3e462,#90b61e);
    border:1px solid #bfff00;
}
.main-quiz-holder .wrong{
    background:#fc5e5e;
    background:-webkit-gradient(linear,left top,left bottom,from(#fc5e5e),to(#ea4646));
    background:-webkit-linear-gradient(#fc5e5e,#ea4646);
    background-image:-moz-linear-gradient(top,#fc5e5e,#ea4646);
    background-image:-moz-gradient(top,#fc5e5e,#ea4646);
    border:1px solid #e36d6d;
}
.main-quiz-holder .correct span{
    padding:0 10px;
    background:url(../img/confirm.png) 6px 2px no-repeat;
}
.main-quiz-holder .wrong span{
    padding:0 10px;
    background:url(../img/delete.png) 6px 2px no-repeat;
    color:#474747;
}
.main-quiz-holder .question{
    width:60%;
    padding:1% 0;
    margin:0 auto 0 auto;
    color:white;
    font-size: 28px;
}
.main-quiz-holder .share-button{
    display:block;
    margin:15px 0;
}
.jquizzy-clear{
    clear:both;
}
.main-quiz-holder .right{
    float:none;
}
.main-quiz-holder img{
    border:none;
    border-radius:16px;
}