.deck-status {
  position: absolute;
  bottom:20px;
  right: 25px;
  color: #888;
  z-index: 3;
  margin: 0;
}

body > .deck-container .deck-status {
  position: fixed;
}

@media print {
  .deck-status {
    display: none;
  }
}
